.buttons{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    button{
        margin: 3px 0;
    }
    .mat-warn{
        background-color: rgb(194, 138, 34);
    }
    .mat-accent{
        background-color: rgb(240, 26, 26);
    }
}