<div class="App">
  <h1>{{title}}</h1>
  <app-add-task (addTask)="addTask($event)"></app-add-task>
  <app-edit-task
      *ngIf="visibleEditor"
      [editedTask]="editedTask"
      (update)="updateTasks($event)"
      (close)="closeEditor($event)"
  ></app-edit-task>
  <div class="sort">
      <button
          type="button"
          mat-raised-button
          color="basic"
          (click)="sort()"
      >
          Sortuj listę
      </button>
  </div>
  <app-task-list
      [tasks]="tasks"
      (updateItem)="updateItem($event)"
      (doneItem)="doneTask($event)"
      (editTask)="openEditor($event)"
      (deleteItem)="deleteTask($event)"
  ></app-task-list>
</div>
